$fontPoppins: 'Poppins', sans-serif;
$color1: #efefef;
$color2: #ffc947;
$color3: #185adb;
$color4: #0a1931;
$alertInput: #bb2929;
$perfectInput: #1ed12d;
$placeholder: #a4a4a4;
$black: #000;
$white: #fff;
$inputShadow: rgba(164, 164, 164, 0.4);
$buttonShadow: rgba(163, 163, 163, 1);
$headline1: normal 700 5.9375rem/9.6069rem $fontPoppins;
$headline2: normal 700 3.6875rem/5.9662rem $fontPoppins;
$headline3: normal 700 3rem/4.8537rem $fontPoppins;
$headline4: normal 700 2.125rem/3.4381rem $fontPoppins;
$headline5: normal 700 1.5rem/2.4269rem $fontPoppins;
$body1: normal 400 1rem/1.6181rem $fontPoppins;
$body2: normal 400 0.875rem/1.4156rem $fontPoppins;
$body3: normal 400 1.5rem/2.4269rem $fontPoppins;
$body4: normal 700 1rem/1.6181rem $fontPoppins;
$button: normal 700 0.875rem/0.0781rem $fontPoppins;
$button2: normal 400 1.25rem /1.875rem $fontPoppins;
$caption: normal 400 0.75rem/1.2138rem $fontPoppins;
