.wrapper {
	max-width: 500px;
	padding: 0 16px;
	margin: 35px auto 40px auto;
}

// .wrapper {
// 	max-width: 1140px;
// 	padding: 0 16px 0 16px;
// 	margin: 20px auto 20px auto;

// 	@media (min-width: 576px) {
// 		max-width: 540px;
// 		padding: 0;
// 	}

// 	@media screen and (min-width: 768px) {
// 		max-width: 720px;
// 		padding: 0;
// 	}

// 	@media screen and (min-width: 992px) {
// 		max-width: 960px;
// 		padding: 0;
// 	}

// 	@media screen and (min-width: 1200px) {
// 		max-width: 1140px;
// 		padding: 0;
// 	}

// 	@media screen and (min-width: 1400px) {
// 		max-width: 1320px;
// 		padding: 0;
// 	}
// }
